<!DOCTYPE html>
<html>
<head>
<style>
    p {
        /* border-left: 6px solid plum; */
        background-color: pink;
        padding: 15px;
    }
    p1 {
        background-color: plum;
        padding: 15px;
    }
    a {
        color:deepskyblue;
    }
</style>
</head>
<body>
    <a href="{{ travel_dates.link }}">{{ data.title }}</a><br>
    <b>
    <br>
    {% for key, value in detail.items %}
        <p1>{{ key }}</p1><p>{{ value }}</p>
        
    {% endfor %}
    </b>
</body>
</html>