<!DOCTYPE html>
<html>
<head>
<style>
    p {
        /* border-left: 6px solid plum; */
        background-color: pink;
        padding: 15px;
    }
    p1 {
        background-color: plum;
        padding: 15px;
    }
    p2 {
        background-color: rgb(160, 171, 221);
        padding: 15px;
    }
    a {
        color:deepskyblue;
    }
</style>
</head>
<body>
    <a href="{{ travel_dates.link }}">{{ data.title }}</a><br>
    
    <b>
    <br>
    {% for key, value in detail.items %}
        {% if key != 'keywords' %}
            <p1>{{ key }}</p1><p>{{ value }}</p>
        {% endif %}
        {% if key == 'keywords' %}
            <p2>{{ key }}</p2>
            {% for item in value %}
                <ul style="list-style-type:disc">
                    <li>{{ item }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </b>
</body>
</html>