<!DOCTYPE html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 50px;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: middle;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(0, 209, 255, 0.4);
}
</style>
</head>
<body>
  <h1>{{region}}</h1>
  <p align="right">總共有{{datas.count}}筆資料</p>
    <table>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
        {% for data in datas %}
        <tr>
        <td><a href="{{ data.get_travel_detail }}" style="text-decoration:none">{{data.title}}</a></td>
        <td>{{data.price}}起</td>
        <td>
            {% for travel_date in travel_dates %}
                {% if travel_date.itinerary.id == data.id %}
                    {{ travel_date.departure_date|date:"m/d/Y" }}<br>
                {% endif %}
            {% endfor %}
        </td>
        </tr>
        {% endfor %}
    </table>
</body>
